In [3]:
import numpy as np
import pandas as pd #for CSV
from sklearn.model_selection import train_test_split #allows to split training and testing data
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [10]:
#load to dataframe(pandas)
credit_data = pd.read_csv("/Users/kamakshiojha/Documents/Machine_Learning_projects/Fraud_Detection/creditcard.csv")

In [11]:
#print 5 rows of dataset

credit_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [12]:
credit_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [13]:
#dataset info

credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [17]:
#check missing values in each colm

credit_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [19]:
# distribution of legit trans & fraud trans

credit_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [20]:
#this ratio above is very low for fraud transaction - prediction will always show that it is legit 
#this is unbalanced dataset

#seperating data

legit = credit_data[credit_data.Class == 0]
fraud = credit_data[credit_data.Class == 1]

print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [22]:
#statistics for data

legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [23]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [24]:
#compare values for each class
credit_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [25]:
# dealing with unbalanced data - Under sampling

#build sample dataset for this dataset - for same distribution

legit_sample = legit.sample(n=492)

In [26]:
#concat 2 data frames

new_dataset = pd.concat([legit_sample,fraud],axis = 0)

In [27]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
136306,81639.0,1.027528,-0.013187,0.456136,1.366288,-0.289231,0.020193,-0.016977,0.141710,0.106498,...,-0.018837,0.022272,-0.078576,0.217340,0.569465,-0.344595,0.024608,0.013620,49.45,0
257407,158147.0,1.221098,-2.136512,-3.001659,0.046150,-0.487136,-1.645039,1.222487,-0.772109,-1.020126,...,0.202588,-0.050221,-0.556256,0.042138,0.270729,0.968408,-0.231801,-0.001790,546.36,0
255122,157073.0,-3.751561,-3.417098,0.734087,1.210965,-0.022087,-0.645865,-0.027349,0.605772,-1.899960,...,0.277225,-0.508582,0.779032,-0.004362,0.691941,-0.418272,0.133718,-0.345197,474.00,0
100185,67444.0,-1.138322,0.085699,3.145596,-1.417040,-1.604292,-0.035245,-0.586014,0.205161,0.817620,...,0.037014,0.738928,-0.375045,0.743709,0.546511,-0.148796,0.387590,0.028614,2.40,0
119737,75563.0,1.105112,0.011998,1.422330,1.357127,-0.884883,0.089232,-0.593401,0.168497,0.757610,...,-0.010577,0.266293,0.064638,0.417239,0.326028,-0.400592,0.095959,0.038031,0.01,0

In [28]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [29]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [30]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94585.853659,0.050329,-0.136203,0.028477,0.170511,-0.065013,-0.071010,-0.081239,0.000773,-0.002415,...,-0.002555,0.029566,0.002579,-0.021531,0.010937,-0.006057,-0.024910,-0.040169,-0.005595,97.370447
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [31]:
#split data

X = new_dataset.drop(columns ='Class',axis = 1)
Y = new_dataset['Class']

In [32]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
136306   81639.0  1.027528 -0.013187  0.456136  1.366288 -0.289231  0.020193
257407  158147.0  1.221098 -2.136512 -3.001659  0.046150 -0.487136 -1.645039
255122  157073.0 -3.751561 -3.417098  0.734087  1.210965 -0.022087 -0.645865
100185   67444.0 -1.138322  0.085699  3.145596 -1.417040 -1.604292 -0.035245
119737   75563.0  1.105112  0.011998  1.422330  1.357127 -0.884883  0.089232
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
136306 -0.016977  0.141710  0.106498  ... -0.142463 -0.018837  0.022272
257407  1.222487 -0.772109 -1.020126  ...  0.369941  0.202588 -0.050221
255122 -0.027349  0.605772 -1.899960  ...  1.544259  0.277225 -0.508582
100185 -0.586014  0.205161  0.817620  ...  0.423354  0.037014  0.738928
119737 -0.593401  0.168497  0.757610  ... -0.149767 -0.010577  0.266293
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
136306 -0.078576  0.217340  0.569465 -0.344595  0.024608  0.013620   49.45
257407 -0.556256  0.042138  0.270729  0.968408 -0.231801 -0.001790  546.36
255122  0.779032 -0.004362  0.691941 -0.418272  0.133718 -0.345197  474.00
100185 -0.375045  0.743709  0.546511 -0.148796  0.387590  0.028614    2.40
119737  0.064638  0.417239  0.326028 -0.400592  0.095959  0.038031    0.01
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [33]:
print(Y)

136306    0
257407    0
255122    0
100185    0
119737    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [34]:
#split into train and test

X_train,X_test ,Y_train ,Y_test = train_test_split(X,Y,test_size = 0.2, stratify =Y, random_state = 2)

In [36]:
print(X.shape , X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

In [37]:
#train model - logistic resgression

model = LogisticRegression()

In [38]:
#training the model

model.fit(X_train,Y_train)

LogisticRegression()

In [40]:
#evaluation of model

X_train_prec = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prec,Y_train)

In [41]:
print(training_data_accuracy)

0.9466327827191868

In [42]:
# accuracy for test data

X_test_prec = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prec,Y_test)

In [43]:
print(test_data_accuracy)

0.9289340101522843